<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Equality</title>
    <link href="../static/style/css/bootstrap.min.css" rel="stylesheet" />

    <style>
      .row button {
        width: 30px;
        height: 30px;
        cursor: pointer;
        font: 16px Arial;
        color: #007439;
      }
    </style>
  </head>
  <body>
    <header>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
          <a
            href="{% url 'main' %}"
            class="navbar-brand d-flex align-items-center"
          >
            <strong>DisMath</strong>
          </a>
          <button type="button" class="btn btn-secondary">
            <strong>Ru</strong>
          </button>
        </div>
      </div>
    </header>

    <div class="container pt-5">
      <form action="/equality/" method="post">
        {% csrf_token %}

        <div class="row">
          {# FIRST CONDITION #}
          <div class="col mx-5">
            <div
              class="border p-3"
              id="first-condition"
              style="height: 100px"
            ></div>
            <input
              id="first-condition-input"
              type="hidden"
              name="firstCondition"
            />

            <div class="d-flex gap-2 mt-3">
              <div class="d-flex flex-column gap-2">
                <div>
                  <button onclick="addChar('X'); event.preventDefault()">
                    X
                  </button>
                  <button
                    onclick="addChar('∧'); event.preventDefault()"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="Конъюнкция"
                  >
                    ∧
                  </button>
                  <button
                    onclick="addChar('∨'); event.preventDefault()"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="Дизъюнкция"
                  >
                    ∨
                  </button>
                  <button
                    onclick="addChar('¬'); event.preventDefault()"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="Отрицание"
                  >
                    ¬
                  </button>
                  <button
                    onclick="addChar('→'); event.preventDefault()"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="Импликация"
                  >
                    &#x2192;
                  </button>
                  <button
                    onclick="addChar('↔'); event.preventDefault()"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="Эквивалентность"
                  >
                    &#x2194;
                  </button>
                  <button
                    onclick="addChar('↓'); event.preventDefault()"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="Стрелка Пирса"
                  >
                    &#x2193;
                  </button>
                  <button
                    onclick="addChar('|'); event.preventDefault()"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="Штрих Шеффера"
                  >
                    |
                  </button>
                  <button
                    onclick="addChar('⊕'); event.preventDefault()"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="XOR"
                  >
                    &#8853;
                  </button>
                  <button onclick="addChar('('); event.preventDefault()">
                    (
                  </button>
                  <button onclick="addChar(')'); event.preventDefault()">
                    )
                  </button>
                </div>

                <div>
                  <button onclick="addChar('1'); event.preventDefault()">
                    1
                  </button>
                  <button onclick="addChar('2'); event.preventDefault()">
                    2
                  </button>
                  <button onclick="addChar('3'); event.preventDefault()">
                    3
                  </button>
                  <button onclick="addChar('4'); event.preventDefault()">
                    4
                  </button>
                  <button onclick="addChar('5'); event.preventDefault()">
                    5
                  </button>
                  <button onclick="addChar('6'); event.preventDefault()">
                    6
                  </button>
                  <button onclick="addChar('7'); event.preventDefault()">
                    7
                  </button>
                  <button onclick="addChar('8'); event.preventDefault()">
                    8
                  </button>
                  <button onclick="addChar('9'); event.preventDefault()">
                    9
                  </button>
                  <button onclick="addChar('X'); event.preventDefault()">
                    0
                  </button>
                </div>
              </div>

              <button
                class="ms-auto"
                onclick="removeLastItem(); event.preventDefault()"
              >
                🠐
              </button>
              <button onclick="clearInput(); event.preventDefault()">C</button>
            </div>
          </div>

          {# SECOND CONDITION #}
          <div class="col mx-5">
            <div
              class="border p-3"
              style="height: 100px"
              id="second-condition"
            ></div>
            <input
              id="second-condition-input"
              type="hidden"
              name="secondCondition"
            />

            <div class="d-flex gap-2 mt-3">
              <div class="d-flex flex-column gap-2">
                <div>
                  <button onclick="addChar('X', 2); event.preventDefault()">
                    X
                  </button>
                  <button
                    onclick="addChar('∧', 2); event.preventDefault()"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="Конъюнкция"
                  >
                    ∧
                  </button>
                  <button
                    onclick="addChar('∨', 2); event.preventDefault()"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="Дизъюнкция"
                  >
                    ∨
                  </button>
                  <button
                    onclick="addChar('¬', 2); event.preventDefault()"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="Отрицание"
                  >
                    ¬
                  </button>
                  <button
                    onclick="addChar('→', 2); event.preventDefault()"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="Импликация"
                  >
                    &#x2192;
                  </button>
                  <button
                    onclick="addChar('↔', 2); event.preventDefault()"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="Эквивалентность"
                  >
                    &#x2194;
                  </button>
                  <button
                    onclick="addChar('↓', 2); event.preventDefault()"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="Стрелка Пирса"
                  >
                    &#x2193;
                  </button>
                  <button
                    onclick="addChar('|', 2); event.preventDefault()"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="Штрих Шеффера"
                  >
                    |
                  </button>
                  <button
                    onclick="addChar('⊕', 2); event.preventDefault()"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="XOR"
                  >
                    &#8853;
                  </button>
                  <button onclick="addChar('(', 2); event.preventDefault()">
                    (
                  </button>
                  <button onclick="addChar(')', 2); event.preventDefault()">
                    )
                  </button>
                </div>

                <div>
                  <button onclick="addChar('1', 2); event.preventDefault()">
                    1
                  </button>
                  <button onclick="addChar('2', 2); event.preventDefault()">
                    2
                  </button>
                  <button onclick="addChar('3', 2); event.preventDefault()">
                    3
                  </button>
                  <button onclick="addChar('4', 2); event.preventDefault()">
                    4
                  </button>
                  <button onclick="addChar('5', 2); event.preventDefault()">
                    5
                  </button>
                  <button onclick="addChar('6', 2); event.preventDefault()">
                    6
                  </button>
                  <button onclick="addChar('7', 2); event.preventDefault()">
                    7
                  </button>
                  <button onclick="addChar('8', 2); event.preventDefault()">
                    8
                  </button>
                  <button onclick="addChar('9', 2); event.preventDefault()">
                    9
                  </button>
                  <button onclick="addChar('X', 2); event.preventDefault()">
                    0
                  </button>
                </div>
              </div>

              <button
                class="ms-auto"
                onclick="removeLastItem(2); event.preventDefault()"
              >
                🠐
              </button>
              <button onclick="clearInput(2); event.preventDefault()">C</button>
            </div>
          </div>

          <div class="col my-auto">
            <button type="submit">=</button>
          </div>
        </div>
        {{ result }} {{ first_expression }} {{ second_expression }}
      </form>
    </div>
    <script src="../static/style/js/bootstrap.bundle.min.js"></script>
    <script src="../static/style/js/popper.min.js"></script>
    <script src="../static/style/js/equality.js"></script>
  </body>
</html>
