<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Equality</title>
    <link href="../static/style/css/bootstrap.min.css" rel="stylesheet" />

    <style>
      .row button {
        width: 50px;
        height: 50px;
        cursor: pointer;
        font: 24px Arial;
        color: #0099cc;
      }
    </style>
  </head>
  <body>
    <header>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
          <a
            href="{% url 'main' %}"
            class="navbar-brand d-flex align-items-center"
          >
            <strong>DisMath</strong>
          </a>
          <button type="button" class="btn btn-secondary">
            <strong>Ru</strong>
          </button>
        </div>
      </div>
    </header>

    <section class="container py-5">
        <a href="{% url 'logic' %}" class="link-secondary">  Назад </a>
    </section>

    <section class="text-center container">
      <div class="row">
        <div class="col-lg-8 col-md-12 mx-auto">
          <h1 class="fw-light">Монотонность</h1>
          <img src="../static/img/monotone.jpg" class="img-fluid" />
        </div>
      </div>
    </section>

    <section class="py-5 text-end container">
      <div class="row">
        <div class="col-lg-8 col-md-12 mx-auto">
          <a href="
https://ru.wikipedia.org/wiki/%D0%9C%D0%BE%D0%BD%D0%BE%D1%82%D0%BE%D0%BD%D0%BD%D0%B0%D1%8F_%D0%B1%D1%83%D0%BB%D0%B5%D0%B2%D0%B0_%D1%84%D1%83%D0%BD%D0%BA%D1%86%D0%B8%D1%8F#:~:text=%D0%9C%D0%BE%D0%BD%D0%BE%D1%82%D0%BE%D0%BD%D0%BD%D0%B0%D1%8F%20%D0%B1%D1%83%D0%BB%D0%B5%D0%B2%D0%B0%20%D1%84%D1%83%D0%BD%D0%BA%D1%86%D0%B8%D1%8F%20%E2%80%94%20%D0%B1%D1%83%D0%BB%D0%B5%D0%B2%D0%B0%20%D1%84%D1%83%D0%BD%D0%BA%D1%86%D0%B8%D1%8F,%D0%BE%D0%B4%D0%BD%D0%B8%D0%BC%20%D0%B8%D0%B7%20%D0%BF%D1%8F%D1%82%D0%B8%20%D0%BF%D1%80%D0%B5%D0%B4%D0%BF%D0%BE%D0%BB%D0%BD%D1%8B%D1%85%20%D0%BA%D0%BB%D0%B0%D1%81%D1%81%D0%BE%D0%B2" class="fw-light link-info">Информация взята с сайта ru.wikipedia.org</a>
        </div>
      </div>
    </section>

    <div class="container pt-5">
      <form action="/monotone/" method="post">
        {% csrf_token %}

        <div class="row">
          <div class="col mx-5">
            <div
              class="border p-3 position-relative"
              id="condition"
              style="height: 100px"
            >
              <div id="conditionTextArea" class="pr-5"></div>
              <div
                class="position-absolute end-0"
                style="top: 35%; margin-right: 25px"
              >
                <button type="submit">=</button>
              </div>
            </div>
            <input id="condition-input" type="hidden" name="condition" />

            <div class="d-flex gap-2 mt-3">
              <div class="d-flex flex-column gap-2">
                <div>
                  <button onclick="addChar('X'); event.preventDefault()">
                    X
                  </button>
                  <button
                    onclick="addChar('∧'); event.preventDefault()"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="Конъюнкция"
                  >
                    ∧
                  </button>
                  <button
                    onclick="addChar('∨'); event.preventDefault()"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="Дизъюнкция"
                  >
                    ∨
                  </button>
                  <button
                    onclick="addChar('¬'); event.preventDefault()"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="Отрицание"
                  >
                    ¬
                  </button>
                  <button
                    onclick="addChar('→'); event.preventDefault()"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="Импликация"
                  >
                    &#x2192;
                  </button>
                  <button
                    onclick="addChar('↔'); event.preventDefault()"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="Эквивалентность"
                  >
                    &#x2194;
                  </button>
                  <button
                    onclick="addChar('↓'); event.preventDefault()"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="Стрелка Пирса"
                  >
                    &#x2193;
                  </button>
                  <button
                    onclick="addChar('|'); event.preventDefault()"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="Штрих Шеффера"
                  >
                    |
                  </button>
                  <button
                    onclick="addChar('⊕'); event.preventDefault()"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="XOR"
                  >
                    &#8853;
                  </button>
                  <button onclick="addChar('('); event.preventDefault()">
                    (
                  </button>
                  <button onclick="addChar(')'); event.preventDefault()">
                    )
                  </button>
                </div>

                <div>
                  <button onclick="addChar('1'); event.preventDefault()">
                    1
                  </button>
                  <button onclick="addChar('2'); event.preventDefault()">
                    2
                  </button>
                  <button onclick="addChar('3'); event.preventDefault()">
                    3
                  </button>
                  <button onclick="addChar('4'); event.preventDefault()">
                    4
                  </button>
                  <button onclick="addChar('5'); event.preventDefault()">
                    5
                  </button>
                  <button onclick="addChar('6'); event.preventDefault()">
                    6
                  </button>
                  <button onclick="addChar('7'); event.preventDefault()">
                    7
                  </button>
                  <button onclick="addChar('8'); event.preventDefault()">
                    8
                  </button>
                  <button onclick="addChar('9'); event.preventDefault()">
                    9
                  </button>
                  <button onclick="addChar('X'); event.preventDefault()">
                    0
                  </button>
                </div>
              </div>

              <button
                class="ms-auto"
                onclick="removeLastItem(); event.preventDefault()"
              >
                🠐
              </button>
              <button onclick="clearInput(); event.preventDefault()">C</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col ms-5 me-5 mt-4">
            <div id="condition-result" class="d-none">{{ condition }}</div>
            <div
              id="condition-result-array"
              class="alert alert-secondary d-none"
            >
            </div>
            <div id="result" class="d-none">{{ result }}</div>
          </div>
        </div>
      </form>
    </div>

    <footer class="text-muted py-5">
      <div class="container">
        <p class="mb-1">Сайт находится в разработке!</p>
      </div>
    </footer>

    <script src="../static/style/js/bootstrap.bundle.min.js"></script>
    <script src="../static/style/js/popper.min.js"></script>
    <script src="../static/style/js/monotone.js"></script>
  </body>
</html>
